
/* -----------div tips------------- */

  div.puzzle, div.fyi, div.demo, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #000000;
    background-color: #ffb3d1;
    border: solid 5px #ffe6f0;
  }

  div.aside {
   padding: 1em;
    margin: 1em 0;
    padding-left: 50px;
    padding-right: 50px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    background-color: #ffffff;
    border: solid 5px #9370DB;
    }

div.puzzle {
  background-image: url("Images/Your-turn.png");
}

div.fyi {
 background-image: url("Images/fyi.png");
}

div.demo {
  background-image: url("Images/Live-code.png");
}

div.note {
  background-image: url("Images/lightbulb.png");
}

p.caption {
  font-weight: bold;
}

table.caption {
  font-weight: bold;
}


a.fyi:link { color:#ff3399; text-decoration:none; font-weight:bold; }
a.fyi:visited { color:#ff3399; text-decoration:none; font-weight:bold; }
a.fyi:hover { color:#ff3399; text-decoration:underline; font-weight:bold; }
a.fyi:active { color:#ff3399; text-decoration:none; font-weight:bold; }
